<!DOCTYPE html>
<head>
    <title>AI占い</title>
</head>
<body>
    <h1>AI占い</h1>
    <h2>以下を入力してください</h2>
    <form id="myForm" method="post" action="/result">
        <div class="form">
            <label>名前 : <input type="text" id="name" name="name"></label>
        </div>
        <div class="form">
            <label>血液型 : <input type="text" id="blood_type" name="blood_type"></label>
        </div>
        <div class="form">
            <select name="category">
                  <option>恋愛</option>
                  <option>仕事</option>
                  <option>学業</option>
            </select>
        </div>
        <input type="submit" value="送信"></input>
    </form>
</body>
